@import 'variables.scss';

*{
  font-family: 'Nunito', sans-serif;
  // color: white;
}


// Estilos Header
.logo{
  width: 120px;
  margin-top: -10px;  
}

.nav-color{
  background-color: white;
  border-radius: 0px;
}

li-hover:hover{
  color:$green-One;
}
// Estilos Footer
.bg-black-one{
  background-color: $black-One;
}

.text-color-white{
  color:white;
}

.padding-top{
  padding-top: 30px;
}

.padding-bottom{
  padding-bottom: 20px;
}

// Estilos main
.bk-image-main{
  background-image: url(https://www.kambista.com/_nuxt/img/banner_home.c96b033.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// Estilos Menu vertical
.message-user{
  color:$green-One;
  // background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

#color-green{
  background-color: $green-One;
  border: none;
}
.margin-left{
  margin-left: -30px;
}
.glyphicon {
  margin-right:10px; 
}
.panel-body {
  padding:0px; 
}
.panel-body table tr td {
  padding-left: 15px 
}
.panel-body .table {
  margin-bottom: 0px; 
}

.img-user{
  width: 100px;
}

.process-step .btn:focus{
  outline:none
}
.process{
  display:table;
  width:100%;
  position:relative
}
.process-row{
  display:table-row
}
.process-step button[disabled]{
  opacity:1 !important;
  filter: alpha(opacity=100) !important
}
.process-row:before{
  top:40px;
  bottom:0;position:
  absolute;content:" ";
  width:100%;
  height:1px;
  background-color:#ccc;paint-order:0
}
.process-step{
  display:table-cell;
  text-align:center;
  position:relative
}
.process-step p{
  margin-top:4px
}
.btn-circle{
  width:80px;
  height:80px;
  text-align:center;
  font-size:12px;
  border-radius:50%
}


// Estilos Section Operation

.padding-10px{
  padding: 15px;
  // background-color: rgba(255, 255, 255, 0.5);
}


// Estilos Operation
.bg-sky-2 {
  background-color: rgba(255, 255, 255, 0.5);;
}

.radius-20 {
  border-radius: 20px;
}

.w-contain {
  width: 450px;
  margin: 1em auto;
}

.title-c-1 {
  font-size: 3rem;
  color: $sky-one;
  font-weight: 700;
  line-height: 1;
}

.title-c-2 {
  font-size: 2.5rem;
  color: $green-One;
  font-weight: 700;
}

.title-c-3 {
  font-size: 1.5rem;
  color: $sky-Two;
  font-weight: 500;
}

.padding-top-10{
  padding-top: 10px;
}

.w-box {
  width: 400px;
}

.show {
  display: block;
}

.btn-desactive {
  background-color: transparent;
  color: $green-One;
}