btn-rextie{
    background-color: #7ACE3B;
    border: #7ACE3B;
    border-radius: 4px;
  }
  
  .btn-rextie:hover{
    background-color: #A2A2A2;
  }
  
  .btn-link-no{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  btn-link-no:hover{
    color: white;
    text-decoration: none;
  }
  
  .btn-options{
    border: 1px solid;
    border-radius: 4px;
  }
  
   @media (max-width: 576px) {
     .margin-bottom {
     margin-bottom: 1em;
     }
    }