.main-bg {
  background-image:url('http://www.currencyonline.com/assets/img/slider/slider-1.jpg');
  /* opacity: 0.9; */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.center {
  margin: 6em 2.5em;
}
.btn-register {
  margin-top: 1em;
  border-radius: 6px;
}
.padding-register {
  padding: 3em  4em;
}
.transparent {
  background-color: rgba(255, 255, 255, 0.562);
  border: 1px solid black;
  border-radius: 6px;
}
.grey {
  background-color: rgba(0, 0, 0, 0.5);
}
.sentence {
  margin-top: 6em;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
}
.colorWhite {
  color: white;
}

.btn-rextie{
  background-color: #7ACE3B;
  border: #7ACE3B;
  border-radius: 4px;
}

/**********************form money*******************************/

/**********************************************************/
@media (max-width: 767.98px) {
  .center {
    margin: 3em auto;
  }
}