* {
  font-family: 'Nunito', sans-serif; }

Header {
  border-bottom: 1px solid #E6E7E8; }

.InfoUser {
  line-height: .5;
  font-size: 14px;
  margin: 2em 1em; }

.style-item {
  list-style: none; }

.bg-grey-2 {
  background-color: #A2A2A2; }

.bg-sky-2 {
  background-color: #F6F9FC; }

.style-item li {
  display: inline-block;
  margin: 1em;
  color: #A2A2A2; }

.float {
  float: right; }

.radius-20 {
  border-radius: 20px; }

.grey-1 {
  color: #737476; }

.flag {
  width: 45px; }

.title-c-1 {
  font-size: 32px;
  color: #26A8E0;
  font-weight: 700;
  line-height: 1; }

.title-4 {
  font-size: 18px;
  font-weight: 700; }

.input-c {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2px 9px 4px 15px;
  font-size: 20px;
  font-weight: bolder;
  color: #737476; }

.w-contain {
  width: 460px;
  margin: 0.3em auto; }

.title-c-5 {
  font-size: 1.2rem;
  color: #26A8E0;
  font-weight: 700;
  line-height: 1; }

.title-c-2 {
  font-size: 24px;
  color: #7ACE3B;
  font-weight: 700; }

.title-c-3 {
  font-size: 24px;
  color: #737476;
  text-align: center; }

.box-green-1 {
  border: 2px solid #7ACE3B;
  border-radius: 20px 0px 0px 20px;
  font-size: 18px; }

.box-green-2 {
  border: 2px solid #7ACE3B;
  border-radius: 0px 20px 20px 0px;
  font-size: 18px; }

.w-box {
  width: 400px; }

.money {
  font-size: 24px;
  color: #A2A2A2;
  font-weight: 700;
  position: relative;
  top: 5px;
  padding-left: 10px; }

.bg-green {
  background-color: #7ACE3B;
  color: white; }

.next {
  width: 200px;
  font-size: 18px;
  transition: 1s; }

.next:hover {
  color: white;
  background-color: #63a82e; }

.title-c-4 {
  font-size: 30px;
  color: #A2A2A2;
  text-align: center;
  font-weight: 700; }

.title-buy-sell {
  font-size: 1rem;
  color: #737476;
  font-weight: 600; }

.title {
  font-size: 18px; }

.icons {
  width: 24px;
  height: 24px; }

.green-1 {
  color: #7ACE3B; }

.black-1 {
  background-color: #272727; }

.Main {
  height: auto;
  background-image: url("http://www.currencyonline.com/assets/img/slider/slider-1.jpg");
  /* opacity: 0.9; */
  width: 100%;
  background-size: cover;
  background-position: 200px 0px; }

.white {
  color: white !important; }

.bg-white {
  background-color: white; }

.bg-green-2 {
  background-color: transparent;
  color: #7ACE3B;
  font-weight: bolder; }

.logo-secure {
  width: 90px; }

.grey-2 {
  color: #A2A2A2; }

.f14 {
  font-size: 14px; }

.hide {
  display: none; }

.show {
  display: block; }

.Menu ul {
  list-style: none;
  border-radius: 6px; }

.Menu ul li {
  border: 1px solid #E6E7E8;
  padding: 0.5em 0.5em;
  color: #737476;
  font-size: 14px;
  border-radius: 6px; }

.Menu ul li:first-child {
  color: white; }

.Menu li a:hover {
  color: #7ACE3B; }

.navbar-light .navbar-toggler {
  border: none; }

.Menu a {
  text-decoration: none;
  color: #737476; }

.table th {
  background-color: #CFE2F3; }

/*Notificacion*/
.box-noti {
  background-color: white;
  border: 2px solid #26A8E0;
  border-radius: 20px;
  height: 410px; }

.logo-not {
  height: 72px;
  width: 72px; }

.line-h {
  line-height: .5; }

.w300 {
  width: 375px; }

.message {
  width: 480px;
  text-align: justify;
  font-size: 14px; }

.relative {
  position: relative; }

.circle {
  height: 56px;
  width: 56px;
  border-radius: 50px;
  background-color: #26A8E0;
  color: white;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  position: absolute;
  bottom: 10.6em;
  left: 45%; }

.text-sky {
  color: #26A8E0; }

.text-green {
  color: #7ACE3B;
  font-weight: 600; }

.w600 {
  width: 600px; }

.info-circle {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #26A8E0;
  color: white;
  border: none; }

footer {
  padding: 45px;
  padding-top: 40px;
  background-color: #222222; }

footer h4, footer h6 {
  color: #fff; }

.list-unstyled a {
  color: white; }

.user {
  width: 100px;
  height: 100px;
  margin: auto;
  text-align: center; }

.user img {
  width: 100%;
  height: 100%; }

.us {
  padding: 1em; }

.one img {
  width: 50px;
  height: 50px; }

.one1 img {
  width: 60px;
  height: 60px; }

.footer {
  font-size: 0.8rem; }

.btn-buy {
  background-color: #26A8E0;
  border: none; }

.btn-sell {
  background-color: #7ACE3B;
  border: none; }

/*# sourceMappingURL=App.css.map */
