* {
  font-family: 'Nunito', sans-serif;
}


:root {
  --sky-1: #26A8E0;
  --green-1: #7ACE3B;
  --sky-2: #F6F9FC;
  --sky-3: #CFE2F3;
  --grey-1: #737476;
  --grey-2: #A2A2A2;
  --grey-3: #E6E7E8;
  --black-1: #272727;
  --black-2: #222222;
}

Header {
  border-bottom: 1px solid var(--grey-3);
}

.InfoUser{
  line-height: .5;
  font-size: 14px;
  margin: 2em 1em;
}

.style-item {
  list-style: none;
}

.bg-grey-2 {
  background-color: var(--grey-2);
}

.bg-sky-2 {
  background-color: var(--sky-2);
}

.style-item li {
  display: inline-block;
  margin: 1em;
  color: var(--grey-2);
}

.float {
  float: right
}

.radius-20 {
  border-radius: 20px;
}

.grey-1 {
  color: var(--grey-1)
}

.flag {
  width: 45px;
}

.title-c-1 {
  font-size: 32px;
  color: var(--sky-1);
  font-weight: 700;
  line-height: 1;
}

.title-4 {
  font-size: 18px;
  font-weight: 700;
}

.input-c {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2px 9px 4px 15px;
  font-size: 20px;
  font-weight: bolder;
  color: var(--grey-1);
}

.w-contain {
  width: 460px;
  margin: 0.3em auto;

}

.title-c-2 {
  font-size: 24px;
  color: var(--green-1);
  font-weight: 700;
}

.title-c-3 {
  font-size: 24px;
  color: var(--grey-1);
  text-align: center;
}

.box-green-1 {
  border: 2px solid var(--green-1);
  border-radius: 20px 0px 0px 20px;
  font-size: 18px;
}

.box-green-2 {
  border: 2px solid var(--green-1);
  border-radius: 0px 20px 20px 0px;
  font-size: 18px;
}

.w-box {
  width: 400px;
}

.money {
  font-size: 24px;
  color: var(--grey-2);
  font-weight: 700;
  position: relative;
  top: 5px;
  padding-left: 10px;
}

.bg-green {
  background-color: var(--green-1);
  color: white;
}

.next {
  width: 200px;
  font-size: 18px;
  transition: 1s;
}

.next:hover{
  color: white;
  background-color: rgb(99, 168, 46);
}

.title-c-4 {
  font-size: 30px;
  color: var(--grey-2);
  text-align: center;
  font-weight: 700;
}


.title {
  font-size: 18px;
}


.icons {
  width: 24px;
  height: 24px;
}

.green-1 {
  color: var(--green-1);
}

.black-1 {
  background-color: var(--black-1);
}

.Main {
  height: auto;
  background-image:url('http://www.currencyonline.com/assets/img/slider/slider-1.jpg');
  /* opacity: 0.9; */
  width: 100%;
  background-size: cover;
  background-position: 200px 0px;
}

.white {
  color: white !important
}

.bg-white {
  background-color: white;
}

.bg-green-2 {
  background-color: transparent;
  color: var(--green-1);
  font-weight: bolder;
}

.logo-secure {
  width: 90px;
}

.grey-2 {
  color: var(--grey-2);
}

.f14 {
  font-size: 14px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.Menu ul {
  list-style: none;
  border-radius: 6px;
}

.Menu ul li {
  border: 1px solid var(--grey-3);
  padding: 0.5em 0.5em;
  color: var(--grey-1);
  font-size: 14px;
  border-radius: 6px;
}

.Menu ul li:first-child {
  color: white;
}

.Menu li a:hover{
  color: var(--green-1);
}

.navbar-light .navbar-toggler {
  border: none;
}

.Menu a {
  text-decoration: none;
  color: var(--grey-1);
}

.table th {
  background-color: var(--sky-3)
}

/*Notificacion*/

.box-noti {
  background-color: white;
  border: 2px solid var(--sky-1);
  border-radius: 20px;
  height: 410px;
}

.logo-not {
  height: 72px;
  width: 72px;
}

.line-h {
  line-height: .5;
}

.w300 {
  width: 375px;
}

.message {
  width: 480px;
  text-align: justify;
  font-size: 14px;
}

.relative {
  position: relative;
}

.circle {
  height: 56px;
  width: 56px;
  border-radius: 50px;
  background-color: var(--sky-1);
  color: white;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  position: absolute;
  bottom: 10.6em;
  left: 45%;
}

.text-sky {
  color: var(--sky-1);
}

.text-green {
  color: var(--green-1);
  font-weight: 600;
}

.w600{
  width: 600px;
}

.info-circle{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: var(--sky-1);
  color: white;
  border: none;
}
footer {
  padding: 45px;
  padding-top: 40px;
  background-color: var(--black-2);
}

footer h4, footer h6 {
  color:#fff;
}

.list-unstyled a {
  color: white;
}
.user {
  width: 200px;
  height: 200px;
  margin: auto;
}
.user img {
  width: 100%;
  height: 100%;
}
.us {
  padding: 1em;
}

.one img {
  width: 50px;
  height: 50px;
}
.one1 img {
  width: 60px;
  height: 60px;
}